section#service-page.sv-service
  .container
    .sv-service__row
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/rastochnye-raboty.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_rastochnye_raboty.jpg', alt='Расточные работы, обработка металла, металлообработка на заказ')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/rastochnye-raboty.html") Расточные работы, обработка металла, металлообработка на заказ
            .sv-card__content(data-restrict-rows)
              p Одним из видов механической обработки изделий из металла являются расточные работы.
              
            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/rastochnye-raboty.html") Подробнее
                
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/tokarno-frezernye-raboty.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_tokarno_frezernye_raboty_0.jpg', alt='Фрезеровочные работы для грузовых автомобилей')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/tokarno-frezernye-raboty.html") Фрезеровочные работы для грузовых автомобилей
            .sv-card__content(data-restrict-rows)
              p Результатом таких работ является получение детали точно заданной геометрической формы и размеров. Кроме того, есть возможность изготавливать изделия повышенной сложности без погрешностей и брака.
              
            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/tokarno-frezernye-raboty.html") Подробнее
                
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/svarochnye-raboty-avto.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_svarochnye_raboty.jpg', alt='Сварочные работы для автомобиля и спецтехники')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/svarochnye-raboty-avto.html") Сварочные работы для автомобиля и спецтехники
            .sv-card__content(data-restrict-rows)
              p Мы выполняем сварочные работы на автомобиле с использованием современного оборудования того типа, который наилучшим образом подходит для конкретного случая.
              
            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/svarochnye-raboty-avto.html") Подробнее
                
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/remont_hodovoy_chasti_gruzovyh.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_remont_hodovoy.jpg', alt='Ремонт ходовой части грузового автомобиля')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/remont_hodovoy_chasti_gruzovyh.html") Ремонт ходовой части грузового автомобиля
            .sv-card__content(data-restrict-rows)
              
              p.service-about
                | Ходовая часть грузовика подвержена наибольшему износу, так как постоянно испытывает значительные нагрузки.
                br
                | Если возникшие проблемы в ходовой части вовремя не устранить, ущерб от поломки окажется гораздо больше, чем затраты на своевременный ремонт.
            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/remont_hodovoy_chasti_gruzovyh.html") Подробнее
                
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/diagnostika-i-remont-mostov-gruzovikov.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_remont_mostov2.jpg', alt='Ремонт мостов грузовых автомобилей')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/diagnostika-i-remont-mostov-gruzovikov.html") Ремонт мостов грузовых автомобилей
            .sv-card__content(data-restrict-rows)
              p Одним из главнейших элементов каркаса любого грузовика можно назвать мосты. Именно на них «возложена» такая важная функция, как опора кузова грузовой машины. Т.е., мост принимает на себя передаваемые от кузова и от рамы нагрузки на опору.
            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/diagnostika-i-remont-mostov-gruzovikov.html") Подробнее
                
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/remont-kpp.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_remont_kpp_0.jpg', alt='Ремонт КПП грузовых автомобилей')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/remont-kpp.html") Ремонт КПП грузовых автомобилей
            .sv-card__content(data-restrict-rows)
              p Сервисный центр нашей компании располагает необходимым диагностическим и технологическим оборудованием для проведения высококачественного ремонта коробок передач грузовых автомобилей и ремонта КПП  отечественного производства.

            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/remont-kpp.html") Подробнее
                
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/remont-kompressora.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_remont_kompressor_gruzovik.jpg', alt='Ремонт компрессоров грузового автомобиля')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/remont-kompressora.html") Ремонт компрессоров грузового автомобиля
            .sv-card__content(data-restrict-rows)
              p Компрессор является важной составляющей в пневматической системе автомобиля. Именно благодаря ему воздух поступает в ёмкости для хранения, из которых он передаётся различным механизмам. Компрессор является сложным механизмом, который под влиянием определённых факторов может выйти из строя.
              
            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/remont-kompressora.html") Подробнее
                
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/remont-dvigateley-gruzovykh-avtomobiley.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_remont_vigatelya_gruzovik.jpg', alt='Ремонт двигателя грузового автомобиля')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/remont-dvigateley-gruzovykh-avtomobiley.html") Ремонт двигателя грузового автомобиля
            .sv-card__content(data-restrict-rows)
              p Грузовики являются одним из самых распространенных транспортных средств для перевозки грузов, как в нашей стране, так и во всём мире. Именно благодаря грузовым автомобилям производится 90% всех грузоперевозок.
              
            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/remont-dvigateley-gruzovykh-avtomobiley.html") Подробнее
                
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/uslugi-po-remontu-spetstehniki.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_remont.jpg', alt='Услуги по ремонту спецтехники')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/uslugi-po-remontu-spetstehniki.html") Услуги по ремонту спецтехники
            .sv-card__content(data-restrict-rows)
              ul
                li Экскаваторы;
                li Тракторы;
                li Автогрейдеры;
                li Асфальтоукладчиков;
                li Автокраны; Бульдозеры;
                li Катки;
                li Скрепера;
                li Снегоуборочных машин;
                li Погрузчики;
                li Бетономешалки, бетононасосы;
                li Ямобуров;
              
            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/uslugi-po-remontu-spetstehniki.html") Подробнее
                
      .sv-service__col
        .sv-card.sv-service__card
          a.sv-card__link(href='/services/arenda-ekskavatora-pogruzchika.html')
            figure.sv-card__figure.sv-gallery
              img.img-fluid.sv-gallery__img(src='/s/w747-h405/netcat_files/148/176/usluga_pogruzhik.jpg', alt='Аренда экскаватора погрузчика')
          .sv-card__caption
            header.sv-card__header
              h3.sv-heading.sv-card__heading(data-mh="service-heading")
                a.sv-card__link(href="/services/arenda-ekskavatora-pogruzchika.html") Аренда экскаватора погрузчика
            .sv-card__content(data-restrict-rows)
              p Есть навесное оборудование: ямобур и гидромолот.
              p
                b Сфера применения:
              ul
                li Ландшафтные работы.
                li Дробление почвы, рыхление, вскрытие траншей.
                li Прокладка коммуникаций.
                li Дорожные работы и т.д.
              
            footer.sv-card__footer
              a.btn.btn--link.sv-card__btn(href="/services/arenda-ekskavatora-pogruzchika.html") Подробнее


